{% load static %}
<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{% comment %} <title>Hazlo - Taste of india</title> {% endcomment %}
	<!-- Primary Meta Tags -->
	<title>HazloTea - Discover the essence of India's finest teas. 40 years of expertise, 10 renowned estates, 50 unique
		tea products. Tradition, innovation, and health benefits in every cup.</title>
	<meta name="title"
		content="HazloTea - Discover the essence of India's finest teas. 40 years of expertise, 10 renowned estates, 50 unique tea products. Tradition, innovation, and health benefits in every cup." />
	<meta name="description" content="HazloTea offers a premium tea experience, blending the essence of ten renowned estates across India. With 40 years of expertise, our owner, a distinguished tea taster, ensures the highest quality. Explore our 50 unique tea products sourced from ideal climates. HazloTea isn't just a beverage; it's an experience that lingers on your palate. Discover tradition, innovation, and health benefits in every cup.
" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://https://hazlo.geany.website//" />
	<meta property="og:title"
		content="HazloTea - Discover the essence of India's finest teas. 40 years of expertise, 10 renowned estates, 50 unique tea products. Tradition, innovation, and health benefits in every cup." />
	<meta property="og:description" content="HazloTea offers a premium tea experience, blending the essence of ten renowned estates across India. With 40 years of expertise, our owner, a distinguished tea taster, ensures the highest quality. Explore our 50 unique tea products sourced from ideal climates. HazloTea isn't just a beverage; it's an experience that lingers on your palate. Discover tradition, innovation, and health benefits in every cup.
" />
	<meta property="og:image" content="https://hazlo.geany.website/static/web/images/meta/meta_tags.png" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://https://hazlo.geany.website//" />
	<meta property="twitter:title"
		content="HazloTea - Discover the essence of India's finest teas. 40 years of expertise, 10 renowned estates, 50 unique tea products. Tradition, innovation, and health benefits in every cup." />
	<meta property="twitter:description" content="HazloTea offers a premium tea experience, blending the essence of ten renowned estates across India. With 40 years of expertise, our owner, a distinguished tea taster, ensures the highest quality. Explore our 50 unique tea products sourced from ideal climates. HazloTea isn't just a beverage; it's an experience that lingers on your palate. Discover tradition, innovation, and health benefits in every cup.
" />
	<meta property="twitter:image" content="https://hazlo.geany.website/static/web/images/meta/meta_tags.png" />



	<link rel="shortcut icon" href="{% static 'web/images/logo/favourite_icon.png'%}">

	<!-- fraimwork - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css'%}">

	<!-- icon font - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/fontawesome.css'%}">

	<!-- animation - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/animate.css'%}">

	<!-- carousel - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/slick.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/slick-theme.css'%}">

	<!-- popup - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.css'%}">

	<!-- jquery-ui - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/jquery-ui.css'%}">

	<!-- custom - css include -->
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css'%}">

	<link rel="stylesheet" href="{% static 'web/css/custom.css' %}">

</head>

<body>
	<!-- body_wrap - start -->
	<div class="body_wrap">

		<!-- backtotop - start -->
		<div class="backtotop">
			<a href="#" class="scroll">
				<i class="far fa-arrow-up"></i>
				<i class="far fa-arrow-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->
		<!-- preloader - start -->
		<div id="preloader"></div>
		<!-- preloader - end -->

		{% include "web/partials/header.html" %}
		<!-- main body - start
      ================================================== -->
		<main>
			<!-- cart_sidebar - start
        ================================================== -->
			<div class="sidebar-menu-wrapper">
				<div class="cart_sidebar">
					<button type="button" class="close_btn"><i class="fal fa-times"></i></button>
					<h2 class="heading_title text-uppercase">Cart Items - <span>4</span></h2>

					<div class="cart_items_list">
						<div class="cart_item">
							<div class="item_image">
								<img src="{% static 'web/images/recent_post/img_03.jpg'%}" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">
									Rorem ipsum dolor sit amet, sectetur adipisi cingey.
								</h4>
								<span class="item_price">$19.00</span>
								<button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
							</div>
						</div>

						<div class="cart_item">
							<div class="item_image">
								<img src="{% static 'web/images/recent_post/img_04.jpg'%}" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">
									Rorem ipsum dolor sit amet, sectetur adipisi cingey.
								</h4>
								<span class="item_price">$19.00</span>
								<button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
							</div>
						</div>

						<div class="cart_item">
							<div class="item_image">
								<img src="{% static 'web/images/recent_post/img_05.jpg'%}" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">
									Rorem ipsum dolor sit amet, sectetur adipisi cingey.
								</h4>
								<span class="item_price">$19.00</span>
								<button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
							</div>
						</div>

						<div class="cart_item">
							<div class="item_image">
								<img src="{% static 'web/images/recent_post/img_06.jpg'%}" alt="image_not_found">
							</div>
							<div class="item_content">
								<h4 class="item_title">
									Rorem ipsum dolor sit amet, sectetur adipisi cingey.
								</h4>
								<span class="item_price">$19.00</span>
								<button type="button" class="remove_btn"><i class="fal fa-times"></i></button>
							</div>
						</div>
					</div>
					<div class="total_price text-uppercase">
						<span>Sub Total:</span>
						<span>$76.00</span>
					</div>
					<ul class="btns_group ul_li">
						<li><a href="cart.html" class="btn btn_primary text-uppercase">View Cart</a></li>
						<li><a href="checkout.html" class="btn btn_border border_black text-uppercase">Checkout</a></li>
					</ul>
				</div>
				<div class="cart_sidebar_overlay"></div>
			</div>
			<!-- cart_sidebar - end
        ================================================== -->

			{% block content %}

			{% endblock %}

			{% include "web/partials/footer.html" %}
	</div>


	<!-- fraimwork - jquery include -->
	<script src="{% static 'web/js/jquery.min.js'%}"></script>
	<script src="{% static 'web/js/bootstrap.min.js'%}"></script>

	<!-- animation - jquery include -->
	<script src="{% static 'web/js/wow.min.js'%}"></script>

	<!-- carousel - jquery include -->
	<script src="{% static 'web/js/slick.min.js'%}"></script>

	<!-- popup - jquery include -->
	<script src="{% static 'web/js/magnific-popup.min.js'%}"></script>

	<!-- isotope filter - jquery include -->
	<script src="{% static 'web/js/isotope.pkgd.min.js'%}"></script>

	<!-- google map - jquery include -->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6"></script>
	<script src="{% static 'web/js/gmaps.min.js'%}"></script>

	<!-- jquery-ui - jquery include -->
	<script src="{% static 'web/js/jquery-ui.js'%}"></script>

	<!-- off canvas sidebar - jquery include -->
	<script src="{% static 'web/js/mCustomScrollbar.js'%}"></script>

	<!-- custom - jquery include -->
	<script src="{% static 'web/js/main.js'%}"></script>

	<script src="{% static 'web/js/ajax.js' %}"></script>

	<script src="{% static 'web/js/sweetalert2.all.min.js' %}"></script>

</body>

</html>