{% load static %}
<!-- footer_section - start
      ================================================== -->
<footer class="footer_section text-white deco_wrap"
  style="background-image: url({% static 'web/images/backgrounds/bg_05.png'%});">
  <div class="overlay"></div>
  <div class="footer_widget_area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-7">
          <div class="footer_subscribe_form text-center">
            <h2 class="form_title text-uppercase wow fadeInUp" data-wow-delay=".1s">Hazlo Tea Build your Fresh mind</h2>

          </div>
        </div>
      </div>

      <div class="row justify-content-lg-between">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer_widget footer_about wow fadeInUp" data-wow-delay=".1s">
            <div class="brand_logo">
              <a class="brand_link" href="{% url "web:index" %}">
                <img src="{% static 'web/images/logo/logo_white_1x.png'%}"
                  srcset="{% static 'web/images/logo/logo_white_2x.png'%} 2x" alt="logo_not_found">
              </a>
            </div>
            <p>
              Experience the excellence of HazloTea from Naripparambu, Ponnani, with a one-year freshness guarantee.
              It's not just a brand; it's an invitation to a unique tea journey blending tradition and innovation in
              every sip
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer_widget footer_contact wow fadeInUp" data-wow-delay=".2s">
            <h3 class="footer_widget_title text-uppercase">Contact us</h3>
            <ul class="ul_li_block">
              <li><strong class="text-uppercase">Adress:</strong>Naripparambu,Ponnani,Malappuram-679573,Kerala</li>
              <li><strong class="text-uppercase">Mail:</strong> <a href="mailto:customercare@hazlotea.in"
                  style="color: white;"> customercare@hazlotea.in</a></li>
              <li><strong class="text-uppercase">Phone:</strong> +91 80785 68422</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer_widget footer_opening_time wow fadeInUp" data-wow-delay=".3s">
            <h3 class="footer_widget_title text-uppercase">Pages</h3>
            <ul class="ul_li_block pages">
              <li>
                <a href="{% url "web:index" %}"> Home</a>
              </li>
              <li>
                <a href="{% url "web:about" %}"> About</a>
              </li>
              <li>
                <a href="{% url "web:products" %}">Products</a>
              </li>
              <li>
                <a href="{% url "web:blog" %}"> Updates</a>
              </li>
              <li>
                <a href="{% url "web:contact" %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="footer_widget footer_recent_post wow fadeInUp" data-wow-delay=".4s">
            <h3 class="footer_widget_title text-uppercase">Social Medias</h3>
            <ul class="social_links social_icons  ul_li_block">
              <li>
                <a href="https://www.facebook.com/Hazlotasteofindia" target="_blank"><i class="fab fa-facebook-f"></i>
                </a>
                <span class="ms-3"> - Facebook</span>
              </li>
              <li><a href="https://twitter.com/HazloTea" target="_blank"><i class="fab fa-twitter"></i></a>
                <span class="ms-3"> - Twitter</span>
              </li>
              <li><a href="https://www.instagram.com/hazlo.india/" target="_blank"><i class="fab fa-instagram"></i></a>
                <span class="ms-3"> - Instagram</span>
              </li>
              <li><a href="https://www.linkedin.com/company/hazlo-taste-of-india" target="_blank"><i
                    class="fab fa-linkedin"></i></a>
                <span class="ms-3"> - Linkedin</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer_bottom text-center">
      <p class="copyright_text mb-0 ">Copyright@ 2024 Desing by <a class="btn_text"
          href="https://www.gedexo.com"><span>Gedexo technologies</span></a></p>
    </div>
  </div>
</footer>
<!-- footer_section - end
      ================================================== -->

</div>
<!-- body_wrap - end -->